@mixin button-style($background, $color) {
    background: $background;
    color: $color;
    &:hover {
        // background: darken($background, 5%);
        // background: mix($background, gold);
        background: grayscale($background);
        // background: darken($color: #fff);
    }
}

.btn {
    width: 200px;
    cursor: pointer;
    padding: 10px 0;
    background: none;
    display: block;
    margin: 10px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    // &.btn-laranja {
    //     background-color: orange;

    //     &:hover {
    //         background-color: rgb(169, 130, 58);
    //     }
    // }

    // &.btn-vermelho {
    //     background-color: red;

    //     &:hover {
    //         background-color: rgb(160, 43, 43);
    //     }
    // }
}

.btn-laranja {
    @extend .btn;
    @include button-style($color-orange, #000)
}

.btn-vermelho {
    @extend .btn;
    @include button-style($color-vermelho, #000)
}

.btn-roxo {
    @extend .btn;
    @include button-style($color-roxo, #000);
}

.btn-amarelo {
    @extend .btn;
    @include button-style($color-amarelo, #000);
}

.btn-dourado {
    @extend .btn;
    @include button-style($color-dourado, #000);
}
