.btn {
    width: 200px;
    cursor: pointer;
    padding: 10px 0;
    background: none;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    // &.btn-laranja {
    //     background-color: orange;

    //     &:hover {
    //         background-color: rgb(169, 130, 58);
    //     }
    // }

    // &.btn-vermelho {
    //     background-color: red;

    //     &:hover {
    //         background-color: rgb(160, 43, 43);
    //     }
    // }
}

@mixin button-style($background, $color) {
    background: $background;
    color: $color;
}

.btn-laranja {
    @extend .btn;

    background-color: $color-orange;

    &:hover {
        background-color: rgb(177, 132, 49);
    }
}

.btn-vermelho {
    @extend .btn;

    background-color: red;

    &:hover {
        background-color: rgb(168, 57, 57);
    }
}

.btn-roxo {
    @extend .btn;
    @include button-style($color-roxo, #000);

    &:hover {
        background-color: rgb(165, 65, 165);
    }
}

.btn-amarelo {
    @extend .btn;
    @include button-style($color-amarelo, #000);

    &:hover {
        background-color: rgb(150, 150, 18);
    }
}

.btn-dourado {
    @extend .btn;
    @include button-style($color-dourado, #000);

    &:hover {
        background-color: rgb(152, 131, 12);
    }
}
